@import "../styles/theme.css";
@import "../styles/animations.css";
@import "../styles/components.css";

@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}